{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}
<body>
<div class="navbar">
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/Anne">AAAR</a></li>
      <li><a href="/Eline">EVEK</a></li>
      <li><a href="/Evgeniia">EOSM</a></li>
      <li><a href="/Jiang">JIWU</a></li>
      <li><a href="/Nina">NVLU</a></li>
      <li><a href="/nextyear">2024</a></li>
      <li style="float:right"><a href="/donebooks">Done</a></li>
      <li style="float:right"><a class="active" href="/add">Add</a></li>
    </ul>
</div>

<div>
    <form action="/add" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="bookinfo" placeholder="Add book manually" type="text"/>
            <button class="btn btn-primary" type="submit">Add</button>
</div>

</body>

{% endblock %}