{% extends "layout.html" %}

{% block title %}
    Done
{% endblock %}

{% block main %}
<body>

<div class="navbar">
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/Anne">Anne</a></li>
      <li><a href="/Eline">Eline</a></li>
      <li><a href="/Rene">René</a></li>
      <li><a href="/Stage">Stage</a></li>
      <li style="float:right"><a href="/emptydonelist">EMPTY "DONE"</a></li>
      <li style="float:right"><a class="active" href="/donebooks">Done</a></li>
      <li style="float:right"><a href="/add">Add</a></li>
    </ul>
</div>

<div class="main">

 <ul id="booklist" style="list-style-type:none">
        {% for donebook in donebooks %}
        <li><a href="http://www.google.com/search?q={{ donebook["bookinfo"]}}" style="color: #000000;" target="_blank"><text class="doneoverflow">{{ donebook["bookinfo"]}} </a>
        <a href="{{ url_for('reset', bookId=donebook["id"]), status="done" }}"><span>Reset &ensp;</span></a>
        </li>
        {% endfor %}
    </ul>
</div>
</body>

{% endblock %}