{% extends "layout.html" %}

{% block title %}
    Done
{% endblock %}

{% block main %}
<body>

<div class="navbar">
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/Anne">AAAR</a></li>
      <li><a href="/Eline">EVEK</a></li>
      <li><a href="/Andrew">AWIG</a></li>
      <li><a href="/Bjorn">BLIC</a></li>
      <li><a href="/Jiang">JIWU</a></li>
      <li><a href="/nextyear">2024</a></li>
      <li style="float:right"><a href="/emptydonelist">EMPTY "DONE"</a></li>
      <li style="float:right"><a class="active" href="/donebooks">Done</a></li>
      <li style="float:right"><a href="/add">Add</a></li>
    </ul>
</div>

<div class="main">

 <ul id="booklist" style="list-style-type:none">
        {% for donebook in donebooks %}
        <li><a href="http://www.google.com/search?q={{ donebook["bookinfo"] }}" style="color: #000000;" target="_blank"><text class="doneoverflow">{{ donebook["bookinfo"]}} </a>
        <a href="{{ url_for('reset', bookId=donebook["id"]) }}"><span>Reset &ensp;</span></a>
        </li>
        {% endfor %}
    </ul>
</div>
</body>

{% endblock %}