{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<body>
<div class="navbar">
    <ul>
      <li><a class="active" href="/">Index</a></li>
      <li><a href="/Anne">AAAR</a></li>
      <li><a href="/Eline">EVEK</a></li>
      <li><a href="/Evgeniia">EOSM</a></li>
      <li><a href="/Jiang">JIWU</a></li>
      <li><a href="/nextyear">2023</a></li>
      <li style="float:right"><a href="/donebooks">Done</a></li>
      <li style="float:right"><a href="/add">Add</a></li>
    </ul>

</div>

<div class="main">

    <ul id="booklist" style="list-style-type:none">

        {% for todobook in todobooks %}
        <li>
        <a href="http://www.google.com/search?q={{ todobook["bookinfo"]}}" style="color: #000000;" target="_blank"><text class="overflow">{{ todobook["bookinfo"]}}</class> </a>
        <a href="{{ url_for('done', bookId=todobook["id"]) }}"><span>Done &ensp;</span></a>
        <a href="{{ url_for('assignnextyear', bookId=todobook["id"]) }}"><span> 2023 &ensp;</span></a>"
        <a href="{{ url_for('assignJiang', bookId=todobook["id"]) }}"><span> JIWU &ensp;</span></a>
        <a href="{{ url_for('assignEvgeniia', bookId=todobook["id"]) }}"><span> EOSM &ensp;</span></a>
        <a href="{{ url_for('assignEline', bookId=todobook["id"]) }}"><span> EVEK &ensp;</span></a>
        <a href="{{ url_for('assignAnne', bookId=todobook["id"]) }}"><span> AAAR &ensp;</span></a>
        

        </li>
        {% endfor %}
    </ul>
</div>
</body>

{% endblock %}