{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<body>
<div class="navbar">
    <ul>
      <li><a class="active" href="/">Index</a></li>
      <li><a href="/Anne">Anne</a></li>
      <li><a href="/Eline">Eline</a></li>
      <li><a href="/Rene">René</a></li>
      <li><a href="/Stage">Stage</a></li>
      <li style="float:right"><a href="/deletedbooks">Deleted</a></li>
      <li style="float:right"><a href="/donebooks">Done</a></li>
    </ul>

</div>

<div class="addbar">
    <form action="/" method="post">
        <div class="form-group" style="width:800px">
            <input autocomplete="off" autofocus class="form-control" name="bookinfo" placeholder="Add book manually" type="text"/>
            <button class="btn btn-primary" type="submit">Add</button>
</div>


<div class="main">

    <ul id="booklist" style="list-style-type:none">

        {% for todobook in todobooks %}
        <li>
        <a href="http://www.google.com/search?q={{ todobook["bookinfo"]}}" style="color: #000000;" target="_blank"><text class="overflow">{{ todobook["bookinfo"]}}</class> </a>
        <a href="{{ url_for('delete', bookId=todobook["id"]) }}"><span>Delete &ensp;</span></a>
        <a href="{{ url_for('done', bookId=todobook["id"]) }}"><span>Done &ensp;</span></a>
        <a href="{{ url_for('assignStage', bookId=todobook["id"]) }}"><span> Stage &ensp;</span></a>
        <a href="{{ url_for('assignRene', bookId=todobook["id"]) }}"><span> René &ensp;</span></a>
        <a href="{{ url_for('assignEline', bookId=todobook["id"]) }}"><span> Eline &ensp;</span></a>
        <a href="{{ url_for('assignAnne', bookId=todobook["id"]) }}"><span> Anne &ensp;</span></a>

        </li>
        {% endfor %}
    </ul>
</div>
</body>

{% endblock %}