{% extends "layout.html" %}

{% block title %}
    Jiang
{% endblock %}

{% block main %}
<body>
<div class="navbar">
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/Anne">AAAR</a></li>
      <li><a href="/Eline">EVEK</a></li>
      <li><a href="/Andrew">AWIG</a></li>
      <li><a href="/Bjorn">BLIC</a></li>
      <li><a href="/Evgeniia">EOSM</a></li>
      <li><a class="active" href="/Jiang">JIWU</a></li>
      <li><a href="/nextyear">2025</a></li>
      <li style="float:right"><a href="/donebooks">Done</a></li>
      <li style="float:right"><a href="/add">Add</a></li>
    </ul>
</div>

<div class="main">
 <ul id="booklist" style="list-style-type:none">
        {% for todobook in todobooks %}
        <li><a href="http://www.google.com/search?q={{ todobook["bookinfo"]}}" style="color: #000000;" target="_blank"><text class="overflow">{{ todobook["bookinfo"]}} </a>
        <a href="{{ url_for('unassign', bookId=todobook["id"], status="Jiang") }}"><span>Unassign &ensp;</span></a>
        <a href="{{ url_for('done', bookId=todobook["id"], status="Jiang") }}"><span>Done &ensp;</span></a>
        </li>
        {% endfor %}
    </ul>
</div>
</body>

{% endblock %}